#login,
#loggedin,
#search-pagination,
#step-2,
#playlist-button {
    display: none;
}

html,
body {
    background-color: #212121;
    color: #1db954;
}

.selected-track::before {
    content: "Selected";
}

.selected-track {
    box-shadow: 0 0 0.8rem 0.1rem green !important;
    transform: scale(1.1);
    z-index: 999;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

.login-btn {
    background-color: #1DB954;
    border-color: #191414;
}

.login-btn:hover {
    background-color: white;
    color: #1DB954;
    border-color: #1DB954;
}

.login-btn:active {
    background-color: #1DB954 !important;
    border-color: #191414 !important;
    color: white !important;
}

.login-btn:focus {
    box-shadow: 0 0 0 .2rem #1DB954;
}

.spotify-green-bg {
    background-color: #1DB954;
}

.spotify-black-border {
    border-color: #191414;
}

.card {
    background-color: #1DB954;
    color: white;
}

.card:hover, 
.card:focus {
    background-color: #218838;
    border-color: #1e7e34;
    cursor: pointer;
}

#rec-results {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#exp-filter {
    display: none;
}

@media only screen and (min-width: 800px) {
    .col-sm-3 {
        display: inline-block;
        text-align: center;
        padding-bottom: .6vw;
    }
}

@media only screen and (min-width: 575px) and (max-width: 800px) {
    .col-sm-3 {
        display: inline-block;
        max-width: 40%;
    }
}
